body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.basic {
    border-style: dotted;
    border-color: aqua;
}

.screening {
    border-style: dotted;
    border-color: brown;
}

.dropdowns {
    height: 200px;
    width: 100px;
    border-style: dotted;
    border-color:blue;
}

#basicInfo {
    background-color:#f2f7fa;
}

#dropdown {
    height: 500px;
    background-color: #f2f7fa;
   
}

#screening {
    background-color: #f2f7fa;
    
}

.popup.show {
    visibility: visible;
  }
/* The actual popup */
.popup.popuptext {
    visibility: hidden;
  }
  
  /* Popup arrow */
  .popup.popuptext::after {
    content: "";
    position: absolute;
  }

.container { position: fixed }

.modal-dialog{
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}
