.container{
    margin-top: 40px;
}

#bootcol{
    background-color: blue;
}

#bootcol2{
    background-color: brown;
}

#candidateName{
    font-size:x-large;
}

#candidateDesc{
    font-size: small;
}